*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.logo h2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 1px auto;
    justify-content: space-between;
}