*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    cursor: pointer;
}
.logo h2{
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #dcf5fa;
    padding-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: url("../images/developer.png") ,
     url(../images/header_bg.png)  #dcf5fa;
    background-position: top  left, bottom right;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}

.text-center {
    text-align: center;
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}



nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 30px;

}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

.btn{
    padding: 18px 35px;
    font-size: 20px;
    background-color: rgb(92, 224, 224);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .bancount{
    max-width:585px; ;
}
.nn{
    margin-top: 45px;
}

#banner .bancount h2{
    font-size: 45px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 18px;
    margin-top: 5px;
}

#banner .bancount h1{
    margin-top: 10px;
    font-size: 95px;
    font-weight: bolder;
    color: #333333;
    margin-bottom: 25px;
}

#banner .bancount p{
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    margin-bottom: 45px; 
}

#banner .banimg img{
    max-width: 585px;
    vertical-align: middle;

}



#about,
#skills,
#resume {
    padding-top: 130px;
    text-align: center;
}

#about .about-container {

    text-align: center;
    background-color: #dcf5fa;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {

    font-size: 20px;

    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}





#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


footer {
    margin-top: 130px;
    background-color: #dcf5fa;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #333333;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}